@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
/* *::selection{
  background-color: transparent;
} */

body{
  min-height: 95vh;
  background-image: url("../img/IslaUpScale.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

/* NAV */

.nav{
  margin: .5em 2em;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
.nav img{
  width: 5rem;
}

.nav_list{
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgba(0, 23, 31, .8);
  border-radius: 5px;
  transition: transform .2s;
}
.nav_item{
  padding: 1em;
}
.nav_item a{
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  position: relative;
}
.nav_item a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  transition: transform .5s;
  transform-origin: right;
  transform: scaleX(0);
}
.nav_item a:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}

.barras{
  display: none;
  color: #fff;
  font-weight: 600;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 23, 31, .8);
  border-radius: 5px;
}
/* Media queries para móvil */
@media (width <= 730px){
  .barras{
    display: flex;
    gap: .6em;
  }
  .nav_list{
    position: absolute;
    width: 70%;
    right: 1em;
    transform: scaleX(0);
    transform-origin: right;
    top: 6em;
    display: flex;
    flex-direction: column;
    z-index: 60;
  }
  .mostrar_menu{
    display: flex;
    transform: scaleX(1);
    backdrop-filter: blur(20px);
  }
  .nav_item a::after{
    background-color: rgba(0, 23, 31, .8);
  }
}


/* CUERPO */
.cuerpo{
  width: 90vw;
  /* min-height: 90vh; */
  flex-grow: 1;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  background-color: rgba(240, 240, 240, .2);
  border-radius: 5px;
  color: #00171F;
  padding: 1em;
}

.cabecera{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  justify-content: center;
  justify-items: flex-start;
  align-items: center;
  gap: 2em;
}
@media (width <= 900px){
  .cabecera{
    .fecha{
      grid-area: 2 / 1 / 3 / -1;
      justify-self: center;
    }
  }
}
@media (width <= 600px){
  .cabecera{
    .fecha{
      font-size: medium;
    }
  }
}
.boton_volver{
  grid-area: 1 / 1 / 2 / 2;
  width: fit-content;
  background-color: rgba(0, 23, 31, .8);
  padding: 1em;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: .7em;
  font-weight: 500;
}
.boton_volver:hover{
  cursor: pointer;
  background-color: #042530;
}

.fecha{
  background-color: rgba(240, 240, 240, .8);
  font-weight: 800;
  font-size: 2em;
  padding: 1em;
  border-radius: 5px;
  text-align: center;
}

.contenido{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5em;
  width: 100%;
}

.fases{
  display: flex;
  gap: .3em;
  justify-content: center;
  align-items: center;
}
.fase{
  padding: .6em;
  background-color: #00171F;
  border-radius: 5px;
  display: grid;
  place-content: center;
  color: #fff;
  font-weight: 600;
}
.fase{
  cursor: pointer;
}
.seleccionado{
  background-color: #fff;
  color: #00171F;
}

.data{
  width: 35em;
  height: 25em;
  max-width: 100%;
  /* max-width: 100%;
  min-width: 60%;
  height: 50vh; */
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
}

.imagen img{
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}
.pista{
  z-index: 1;
  font-weight: 600;
  background-color: rgba(0, 23, 31, .8);
  padding: .4em;
  color: #fff;
  font-size: smaller;
}

.vidas{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .4em;
  font-size: 1.5em;
  background-color: #fff;
  border-radius: 5px;
  padding: .1em .5em;
  box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.fa-heart{
  color: #FF0000;
}

.buscador {
  width: 35em;
  max-width: 100%;
  position: relative;
}
.buscador input{
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  padding: .5em 1em;
  width: 100%;
}

.opciones{
  position: absolute;
  top: 100%;
  left: 0;
  max-height: 10em;
  
  overflow-y: scroll;
  width: 100%;
  margin-bottom: 4em;
}
.opciones div{
  background-color: #fff;
  padding: .3em;
}
.opciones div:hover{
  cursor: pointer;
  background-color: #eee;
}

.adivinar{
  padding: .5em 1em;
  background-color: #00FF00;
  border-radius: 5px;
  width: fit-content;
  font-weight: 700;
  margin-bottom: 10em;
}
.adivinar:hover{
  cursor: pointer;
  background-color: #54e654;
}

.fallado{
  font-size: 2em;
  text-align: center;
  font-weight: 700;
  color: #FF0000;
  background-color: #00171F;
  padding: 1em;
  border-radius: 5px;
}
.acertado{
  font-size: 2em;
  text-align: center;
  font-weight: 700;
  color: #00FF00;
  background-color: #00171F;
  padding: 1em;
  border-radius: 5px;
}


/* FOOTER */
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}
.footer .content{
  padding: 1em;
  font-weight: 600;
  font-size: .7em;
  border-radius: 5px;
  background-color: rgba(240, 240, 240, .8);
}